<script type="text/javascript">

function moverFondo(event,element){
	var containerWidth = element.innerWidth()*1.2,  
		  containerHeight = element.innerHeight()*1.5,
		  mousePositionX = (event.pageX / containerWidth) * 100,
		  mousePositionY = (event.pageY /containerHeight) * 100;

	element.css('background-position', (mousePositionX > 100 ? 100 : mousePositionX) + '%' + ' ' + (mousePositionY > 100 ? 100 : mousePositionY) + '%');
}

function cambiarHamburguesa(toggle){

	$("#rect_sup").css({ "margin": (toggle == 0 ? "35px auto 0" : ""), "height": (toggle == 0 ? "2.5px" : ""), "margin-top": (toggle == 0 ? "35px" : "25px")});
	$("#rect_mid").css({ "margin": (toggle == 0 ? "0 auto" : ""), "height": (toggle == 0 ? "0" : "")});
	$("#rect_inf").css({ "margin": (toggle == 0 ? "0 auto" : ""), "height": (toggle == 0 ? "2.5px" : "")});
}

function desplegarMenu(){
	var ind = $("#cont_menu").css('z-index');
	$("#cont_menu").css("-webkit-animation-play-state", "paused");
	if(ind == -1){ 
		$("#cont_menu").css({"-webkit-animation": "fade-in 0.8s ease 0s 1 normal both", "-moz-animation": "fade-in 0.8s ease 0s 1 normal both", "-o-animation": "fade-in 0.8s ease 0s 1 normal both", "animation": "fade-in 0.8s ease 0s 1 normal both", "z-index": "4"}); 
		$("#op1").css({"-webkit-animation": "opt-ap 0.6s ease 0.7s 1 normal both", "-moz-animation": "opt-ap 0.6s ease 0.7s 1 normal both", "-o-animation": "opt-ap 0.6s ease 0.7s 1 normal both", "animation": "opt-ap 0.6s ease 0.7s 1 normal both"});
		$("#op2").css({"-webkit-animation": "opt-ap 0.6s ease 0.8s 1 normal both", "-moz-animation": "opt-ap 0.6s ease 0.8s 1 normal both", "-o-animation": "opt-ap 0.6s ease 0.8s 1 normal both", "animation": "opt-ap 0.6s ease 0.8s 1 normal both"});
		$("#op3").css({"-webkit-animation": "opt-ap 0.6s ease 0.9s 1 normal both", "-moz-animation": "opt-ap 0.6s ease 0.9s 1 normal both", "-o-animation": "opt-ap 0.6s ease 0.9s 1 normal both", "animation": "opt-ap 0.6s ease 0.9s 1 normal both"});
		$("#op4").css({"-webkit-animation": "opt-ap 0.6s ease 1.0s 1 normal both", "-moz-animation": "opt-ap 0.6s ease 1.0s 1 normal both", "-o-animation": "opt-ap 0.6s ease 1.0s 1 normal both", "animation": "opt-ap 0.6s ease 1.0s 1 normal both"});
	}
	else{
		setTimeout(function(){ $("#cont_menu").css({"z-index": "-1"}); }, 750);
		$("#cont_menu").css({"-webkit-animation": "fade-out 0.8s ease 0.5s 1 normal both", "-moz-animation": "fade-out 0.8s ease 0.5s 1 normal both", "-o-animation": "fade-out 0.8s ease 0.5s 1 normal both", "animation": "fade-out 0.8s ease 0.5s 1 normal both"});
		$("#op1").css({"-webkit-animation": "opt-dis 0.6s ease 0.6s 1 normal both", "-moz-animation": "opt-dis 0.6s ease 0.6s 1 normal both", "-o-animation": "opt-dis 0.6s ease 0.6s 1 normal both", "animation": "opt-dis 0.6s ease 0.6s 1 normal both"});
		$("#op2").css({"-webkit-animation": "opt-dis 0.6s ease 0.5s 1 normal both", "-moz-animation": "opt-dis 0.6s ease 0.5s 1 normal both", "-o-animation": "opt-dis 0.6s ease 0.5s 1 normal both", "animation": "opt-dis 0.6s ease 0.5s 1 normal both"});
		$("#op3").css({"-webkit-animation": "opt-dis 0.6s ease 0.4s 1 normal both", "-moz-animation": "opt-dis 0.6s ease 0.4s 1 normal both", "-o-animation": "opt-dis 0.6s ease 0.4s 1 normal both", "animation": "opt-dis 0.6s ease 0.4s 1 normal both"});
		$("#op4").css({"-webkit-animation": "opt-dis 0.6s ease 0.3s 1 normal both", "-moz-animation": "opt-dis 0.6s ease 0.3s 1 normal both", "-o-animation": "opt-dis 0.6s ease 0.3s 1 normal both", "animation": "opt-dis 0.6s ease 0.3s 1 normal both"});
	}	
}

function toggleBorde(event,borde,toggle){
	$(borde).css("width", (toggle == 0 ? "100%" : ""));
}

function scrollPagina(){
	$("html, body").animate({ scrollTop: window.innerHeight }, 800);
  return false;
}

$(document).on("scroll",function(event){
  var y = $(this).scrollTop();
	$("#contenedor").css({"width": (y < 1 ? "90%" : ( y >= window.innerHeight ? "75%" : ((75 + (15*(1 - (y/window.innerHeight)))) + "%") )), "height" : (y < 1 ? "85%" : ( y >= window.innerHeight ? "65%" : ((65 + (20*(1 - (y/window.innerHeight)))) + "%") ))});
});

</script>
<style>

body,html { min-height: 100%; }

/* Clases */
/* Rectángulos del ícono de menú */
.rect {
	background-color: rgba(200,200,200,0.85);
	width: 40px;
	height: 3px;
	margin: 6px auto;
	cursor: pointer;
	-webkit-transition: all ease 0.9s;
	-moz-transition: all ease 0.9s;
	-o-transition: all ease 0.9s;
	transition: all ease 0.9s;
}

/* Texto del menú desplegable */
.opciones{
	cursor: pointer;
	position: fixed;
	right: 0;
	background-color: rgba(220,20,20,0);
	color: rgba(255,255,255,0);
	font-size: 30px;
	white-space: nowrap;
}

/* Bordes del texto del menú desplegable */
.borde-op{
	background-color: #FFF;
	height: 5px;
	width: 0%;
	bottom: 0;
	left: 0;
	-webkit-transition: width linear 0.3s;
	-moz-transition: width linear 0.3s;
	-o-transition: width linear 0.3s;
	transition: width linear 0.3s;
}

/* Rectángulos de la flechita */
.flecha-menu{
	background-color: rgba(130,130,130,0.95);
	height: 5px;
	width: 30px;
	position: absolute;
	top: 46%;
	z-index: 3;
}

/* Fondos de las celdas de la cuadrícula */
.cuadricula-back{
	z-index: 4;
	float: left;
	width: 50%;
	height: 50%;
	background-color: rgba(255,255,255,0.0);
}

/* Celdas de la cuadrícula del menú */
.cuadricula-menu{
	z-index: 4;
	cursor: pointer;
	float: left;
	margin: 7px 7px;
	width: -webkit-calc(100% - 14px);
	width: -moz-calc(100% - 14px);
	width: calc(100% - 14px);
	height: -webkit-calc(100% - 14px);
	height: -moz-calc(100% - 14px);
	height: calc(100% - 14px);
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
	transition: all linear 0.3s;
}

.cuadricula-menu:hover{
	margin: 14px 14px;
	width: -webkit-calc(100% - 28px);
	width: -moz-calc(100% - 28px);
	width: calc(100% - 28px);
	height: -webkit-calc(100% - 28px);
	height: -moz-calc(100% - 28px);
	height: calc(100% - 28px);
}

/* Identificadores */
#cont_menu{
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0 auto;
	background-color: rgba(220,20,60,0);
	z-index: -1;
}

#flecha-der{
	-webkit-transform: rotate(50deg);
	-moz-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	-o-transform: rotate(50deg);
	transform: rotate(50deg);
	left: 15px;
}

#flecha-izq{
	-webkit-transform: rotate(130deg);
	-moz-transform: rotate(130deg);
	-ms-transform: rotate(130deg);
	-o-transform: rotate(130deg);
	transform: rotate(130deg);
	right: 16px;
}

#mask-flecha{
	height: 45px;
	width: 78px;
	position: fixed;
	top: 78%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 3;
	cursor: pointer;
}

#cont-cuadricula{
	width: 70%;
	height: 500px;
	margin: 100px auto 280px;
	background-color: rgba(255,255,255,0.0);
	z-index: 4;
}

/* Responsivos */
@media only screen and (max-width: 992px){
	#cont-cuadricula { height: 800px; }
	.cuadricula-back { width: 100%; height: 25%; }
}

/* Animación de las opciones principales del menú */
/* -webkit- vendors (Chrome, Safari, Opera)*/
@-webkit-keyframes opt-ap{
	0% { z-index: -1; right: 0; color: rgba(255,255,255,0); }
	100%	 { z-index: 5; right: 45%; color: rgba(255,255,255,1); }
}

@-webkit-keyframes opt-dis{
	0%	 { z-index: 5; right: 45%; color: rgba(255,255,255,1); }
	100% { z-index: -1; right: 0; color: rgba(255,255,255,0); }
}
/* -moz- vendors (Mozilla) */
@-moz-keyframes opt-ap{
	0% { z-index: -1; right: 0; color: rgba(255,255,255,0); }
	100%	 { z-index: 5; right: 45%; color: rgba(255,255,255,1); }
}

@-moz-keyframes opt-dis{
	0%	 { z-index: 5; right: 45%; color: rgba(255,255,255,1); }
	100% { z-index: -1; right: 0; color: rgba(255,255,255,0); }
}
/* -o- vendors (Opera) */
@-o-keyframes opt-ap{
	0% { z-index: -1; right: 0; color: rgba(255,255,255,0); }
	100%	 { z-index: 5; right: 45%; color: rgba(255,255,255,1); }
}

@-o-keyframes opt-dis{
	0%	 { z-index: 5; right: 45%; color: rgba(255,255,255,1); }
	100% { z-index: -1; right: 0; color: rgba(255,255,255,0); }
}
/* genérico (Chrome, Mozilla, Edge/Explorer, Opera, Safari) */
@keyframes opt-ap{
	0% { z-index: -1; right: 0; color: rgba(255,255,255,0); }
	100%	 { z-index: 5; right: 45%; color: rgba(255,255,255,1); }
}

@-webkit-keyframes opt-dis{
	0%	 { z-index: 5; right: 45%; color: rgba(255,255,255,1); }
	100% { z-index: -1; right: 0; color: rgba(255,255,255,0); }
}

/* Animación del contenedor del menú */
/* -webkit- vendors (Chrome, Safari, Opera)*/
@-webkit-keyframes fade-in{
	0% { width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(220,20,60,0); -webkit-transform: translate(0,0); -o-transform: translate(0,0); transform: translate(0,0); }
	100% { width: 90%; height: 85%; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); background-color: rgba(220,20,60,0.8); }
}

@-webkit-keyframes fade-out{
	0%	 { width: 90%; height: 85%; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); background-color: rgba(220,20,60,0.8); }
	100% { width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(220,20,60,0); -webkit-transform: translate(0,0); -o-transform: translate(0,0); transform: translate(0,0); }
}
/* -moz- vendor (Mozilla)*/
@-moz-keyframes fade-in{
	0% { width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(220,20,60,0); -moz-transform: translate(0,0); transform: translate(0,0); }
	100% { width: 90%; height: 85%; top: 50%; left: 50%; -moz-transform: translate(-50%,-50%); transform: translate(-50%,-50%); background-color: rgba(220,20,60,0.8); }
}

@-moz-keyframes fade-out{
	0%	 { width: 90%; height: 85%; top: 50%; left: 50%; -moz-transform: translate(-50%,-50%); transform: translate(-50%,-50%); background-color: rgba(220,20,60,0.8); }
	100% { width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(220,20,60,0); -moz-transform: translate(0,0); transform: translate(0,0); }
}
/* -o- vendor (Opera)*/
@-o-keyframes fade-in{
	0% { width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(220,20,60,0); -o-transform: translate(0,0); -webkit-transform: translate(0,0); transform: translate(0,0); }
	100% { width: 90%; height: 85%; top: 50%; left: 50%; -o-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); background-color: rgba(220,20,60,0.8); }
}

@-o-keyframes fade-out{
	0%	 { width: 90%; height: 85%; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); background-color: rgba(220,20,60,0.8); }
	100% { width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(220,20,60,0); -webkit-transform: translate(0,0); -o-transform: translate(0,0); transform: translate(0,0); }
}
/* genérico (Chrome, Safari, Opera, Mozilla, Edge/Explorer)*/
@keyframes fade-in{
	0% { width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(220,20,60,0); -webkit-transform: translate(0,0); -moz-transform: translate(0,0); -ms-transform: translate(0,0); -o-transform: translate(0,0); transform: translate(0,0); }
	100% { width: 90%; height: 85%; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); background-color: rgba(220,20,60,0.8); }
}

@keyframes fade-out{
	0%	 { width: 90%; height: 85%; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); background-color: rgba(220,20,60,0.8); }
	100% { width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(220,20,60,0); -webkit-transform: translate(0,0); -moz-transform: translate(0,0); -ms-transform: translate(0,0); -o-transform: translate(0,0); transform: translate(0,0); }
}
</style>

	<div id="inicio" style="height:100%;width:100%;position:fixed;top:0;left:0;z-index:0;">
	</div>

	<div id="cont_menu" onclick="desplegarMenu();">
	</div>

	<div id="contenedor" style="width:90%; height:85%;margin:auto;overflow:hidden;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);z-index:2;background:url(<%= image_path('Paisaje.png') %>) no-repeat center center / 130% 130%;" onmousemove="moverFondo(event,$(this));">
	</div>
	<div id="brand" style="height:90px;width:90px;position:fixed;top:17%;left:2.5%;z-index:5;background:url(<%= image_path('pine.jpg') %>) no-repeat center center / 120% 120%">
	</div>
	<div id="menu_canvas" style="background-color:rgba(255,255,255,0);height:60px;width:80px;position:fixed;top:17%;right:6%;transition:all ease 0.5s;-webkit-transition:all ease 0.5s;-moz-transition:all ease 0.5s;-o-transition:all ease 0.5s;z-index:5;">
		<div id="rect_sup" class="rect" style="margin-top:30px">
		</div>
		<div id="rect_mid" class="rect" style="">
		</div>
		<div id="rect_inf" class="rect" style="">
		</div>
	</div>

	<div style="cursor:pointer;background-color:rgba(255,255,255,0);height:60px;width:80px;position:fixed;top:17%;right:6%;z-index:6;" onmouseenter="cambiarHamburguesa(0);" onmouseleave="cambiarHamburguesa(1);" onclick="desplegarMenu();">	
	</div>

	<div class="opciones" id="op1" style="top:25%" onmouseenter="toggleBorde(event,'#borde-1',0);" onmouseleave="toggleBorde(event,'#borde-1',1);">Opcion 1
		<div id="borde-1" class="borde-op"></div>
	</div>
	<div class="opciones" id="op2" style="top:30%" onmouseenter="toggleBorde(event,'#borde-2',0);" onmouseleave="toggleBorde(event,'#borde-2',1);">Opcion 2
		<div id="borde-2" class="borde-op"></div>
	</div>
	<div class="opciones" id="op3" style="top:35%" onmouseenter="toggleBorde(event,'#borde-3',0);" onmouseleave="toggleBorde(event,'#borde-3',1);">Opcion 3
		<div id="borde-3" class="borde-op"></div>
	</div>
	<div class="opciones" id="op4" style="top:40%" onmouseenter="toggleBorde(event,'#borde-4',0);" onmouseleave="toggleBorde(event,'#borde-4',1);">Opcion 4
		<div id="borde-4" class="borde-op"></div>
	</div>


	<div id="mask-flecha" onclick="scrollPagina();">
		<div class="flecha-menu" id="flecha-der"></div>
		<div class="flecha-menu" id="flecha-izq"></div>
	</div>


		<div id="mosaico" style="height:auto;width:100%;top:100%;position:absolute;background-color:rgb(150,150,150);z-index:3;min-height:100%;text-align:center;">
			<div id="cont-cuadricula">
				<div class="cuadricula-back">
					<div class="cuadricula-menu" style="background-color:#660033;"></div>
				</div>
				<div class="cuadricula-back">
					<div class="cuadricula-menu" style="background-color:#0033CC;"></div>
				</div>
				<div class="cuadricula-back">
					<div class="cuadricula-menu" style="background-color:#336600;"></div>
				</div>
				<div class="cuadricula-back">
					<div class="cuadricula-menu" style="background-color:#CC6600;""></div>
				</div>
			</div>



	<div id="div_footer"> <!-- Fila para footer -->
		<!-- <div class="col-md-12" id="div_footer">  <!-- Columnas para footer -->
			<div class="col-xs-12 col-md-2" id="footer_izq">
				<ul class="links">
					<li><a href="https://www.colmex.mx/centros_de_estudio/inicio?locale=sp">Centros de Estudios</a></li>
					<li><a href="https://www.colmex.mx/programas_academicos/inicio?locale=sp">Programas docentes</a></li>
					<li><a href="http://biblioteca.colmex.mx/" target="_blank">Biblioteca</a></li>
					<li><a href=" http://agenda.colmex.mx/Inicio" target="_blank">Agenda</a></li>
					<li><a href="http://intranet.colmex.mx/directorio/" target="_blank">Directorio Institucional</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-8" id="footer_centro">
				<img id="img_footer" src="https://www.colmex.mx/assets/colmex-pie-11574ae7eb2daa4f7ed874bf99b3ef3aa5b4f3ee3c82f218355cdb5c6cfe795d.png" alt="Colmex pie"><br>
				<a target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><img id="img_cc" src="https://www.colmex.mx/assets/creative-commons-c376b41beeaa05f745d4a8aaf2dc3f84a033c72ff8f81d5896bc70602ae5d635.png" alt="Creative commons"></a>
				<p>Derechos reservados, El Colegio de México A.C. © 2017<br>
	Camino al Ajusco número 20, Colonia Pedregal de Santa Teresa, C.P. 10740 México, Ciudad de México<br>
	Tel.: +52 55 54493000</p>

			</div>
			<div class="col-xs-12 col-md-2" id="footer_der">
				<ul class="links">
					<li><a href="http://portal.office.com" target="_blank">Correo electrónico</a></li>
					<li><a href="http://intranet.colmex.mx/" target="_blank">Intranet</a></li>
					<li><a href="https://www.colmex.mx/principal/sitemap?locale=sp">Mapa de sitio</a></li>
					<li><a href="https://www.colmex.mx/principal/como_llegar?locale=sp">Cómo llegar</a></li>
					<li class="no-border"><a href="https://www.colmex.mx/principal/aviso_de_privacidad?locale=sp">Aviso de Privacidad</a></li>
				</ul>
			</div>
		<!-- </div> <!-- Cierre de columnas para footer -->

	<div class="col-xs-12 col-md-12" id="redes_footer"> <!-- Columnas para redes sociales en footer-->
			<ul class="botones_footer">
				<a target="_blank" href="&#10;https://www.facebook.com/elcolmex/"><img class="img_net" src="https://www.colmex.mx/assets/fb-bco-852fd3b079e77ecd3aa172ef9bf057c8a9c4f7f6e4c3c04efbd0a6bc06a46b72.png" alt="Fb bco"></a>
				<a target="_blank" href="&#10;https://twitter.com/ELCOLMEX"><img class="img_net" src="https://www.colmex.mx/assets/twitter-bco-35e2a6550b0b5e739f01b5e12ea2f514dd25619eb587c7e7346f143915fac108.png" alt="Twitter bco"></a>
				<a target="_blank" href="&#10;https://www.youtube.com/c/elcolegiodemexicociudaddemexico"><img class="img_net" src="https://www.colmex.mx/assets/youtube-bco-39b5f45b75f8d74eed2231c964d0e1c4dc646b87cc82af932911804714b8542d.png" alt="Youtube bco"></a>
				<a target="_blank" href="https://itunes.apple.com/mx/institution/el-colegio-de-mexico/id443160573"><img class="img_net" src="https://www.colmex.mx/assets/itunes-bco-d47ec1021ad14f7155a893371e9b9ce6282715fbf76f8d61ff13312bc56d2e95.png" alt="Itunes bco"></a>
				<a target="_blank" href="https://www.linkedin.com/edu/el-colegio-de-m%C3%A9xico-14986"><img class="img_net" src="https://www.colmex.mx/assets/linkedin-bco-306c05cdfc55105e0ba1d65723f5d962ccd8d5ac9ba4ce6494c987bb61e7d1b5.png" alt="Linkedin bco"></a>
				<a target="_blank" href="https://plus.google.com/+ColmexMx1/posts"><img class="img_net" src="https://www.colmex.mx/assets/google-bco-70140120ae8f6b75d339b36ba12f01fbad718ed34557df4f26394e5fa3e4da08.png" alt="Google bco"></a>
				<a target="_blank" href="https://www.instagram.com/elcolmex/"><img class="img_net" src="https://www.colmex.mx/assets/instagram-bco-870a880ce6ffa5e563b363277fd784293246c0f24c7b7b635ea6f731b93f292a.png" alt="Instagram bco"></a>
				
			</ul>
			<% if false %>
			<div id="boton-top" onclick="regresarArriba()" style="display: block;">
				<a href="#"><img class="leave_img" src="https://www.colmex.mx/assets/top-4069a9ee5cd941f4cf9c16682b4e35b85d9e60bab7aee8b60e85dda219d1b87e.png" alt="Top"><img class="hover_img" src="/assets/top-hover-876af24c7e6440d3be38cd67b51ba50b32e82fbd560406f7632c44497296b02f.png" alt="Top hover"></a>
			</div>
			<% end %>
		</div> <!-- Cierre de columnas para redes sociales en footer -->

	</div>
	</div>

</div>

