<script type="text/javascript">
function moverFondo(event,element){
	var containerWidth = element.innerWidth()*1.15,  
		  containerHeight = element.innerHeight()*1.15,
		  mousePositionX = (event.pageX / containerWidth) * 100,
		  mousePositionY = (event.pageY /containerHeight) * 100;

	element.css('background-position', mousePositionX + '%' + ' ' + mousePositionY + '%');
}

function cambiarHamburguesa(toggle){

	$("#rect_sup").css({ "margin": (toggle == 0 ? "0 auto" : ""), "height": (toggle == 0 ? "2.5px" : "")});
	$("#rect_mid").css({ "margin": (toggle == 0 ? "0 auto" : ""), "height": (toggle == 0 ? "0" : "")});
	$("#rect_inf").css({ "margin": (toggle == 0 ? "0 auto" : ""), "height": (toggle == 0 ? "2.5px" : "")});
}

function desplegarMenu(){
	var ind = $("#cont_menu").css('z-index');
	console.log(ind);
	if(ind != 3) $("#cont_menu").css({"-webkit-animation": "fade 1.2s ease 0s 1 both"}); 
		//$("#cont_menu").css({ "width": "90%", "height": "85%", "top": "50%", "left": "50%", "transform": "translate(-50%,-50%)", "z-index": "3", "background-color": "rgba(220,20,60,0.8)"});
	else $("#cont_menu").css({"-webkit-animation": "fade 1.2s ease 0s 1 reverse both"});
		//$("#cont_menu").css({ "width": "100%", "height": "100%", "top": "0", "left": "0", "transform": "", "z-index": "-1", "background-color": "rgba(220,20,60,0)"});
}
</script>
<style>

.rect {
	background-color: rgba(200,200,200,0.85);
	width: 60px;
	height: 5px;
	margin: 10px auto;
	cursor: pointer;
	transition: all ease 0.9s;
	-webkit-transition: all ease 0.9s;
	-moz-transition: all ease 0.9s;
	-o-transition: all ease 0.9s;
}

@-webkit-keyframes fade{
	0% { z-index: -1; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(220,20,60,0), transform: translate(0,0); }
	100%	 { z-index: 3; width: 90%; height: 85%; top: 50%; left: 50%; transform: translate(-50%,-50%); background-color: rgba(220,20,60,0.8); }
}
</style>

<div id="inicio" style="height:100%;width:100%;position:fixed;top:0;left:0;z-index:0;">

	<div id="cont_menu" style="height:100%;width:100%;position:fixed;top:0;left:0;margin:0 auto;background-color:rgba(220,20,60,0);z-index:-1;">
	</div>

	<div id="contenedor" style="width:90%; height:85%;margin:auto;overflow:hidden;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);z-index:2;background:url(<%= image_path('Paisaje.png') %>) no-repeat center center / 120% 120%"onmousemove="moverFondo(event,$(this));">
	</div>
	<div id="brand" style="height:130px;width:130px;position:absolute;top:17%;left:2.5%;z-index:4;background:url(<%= image_path('pine.jpg') %>) no-repeat center center / 120% 120%">
	</div>
	<div id="menu_canvas" style="background-color:rgba(255,255,255,0);height:60px;width:120px;position:absolute;top:17%;right:10%;transition:all ease 0.5s;-webkit-transition:all ease 0.5s;-moz-transition:all ease 0.5s;-o-transition:all ease 0.5s;z-index:4;">
		<div id="rect_sup" class="rect" style="top:18%;right:10%;">
		</div>
		<div id="rect_mid" class="rect" style="top:19%;right:10%;">
		</div>
		<div id="rect_inf" class="rect" style="top:20%;right:10%;">
		</div>
	</div>

	<div style="cursor:pointer;background-color:rgba(255,255,255,0);height:60px;width:120px;position:absolute;top:17%;right:10%;z-index:5;" onmouseenter="cambiarHamburguesa(0);" onmouseout="cambiarHamburguesa(1);" onclick="desplegarMenu();">
</div>



