<div id="selector-cursos" style="background-color:rgba(200,50,85,1.0);width:30%;height:-webkit-calc(100% - 110px);height:-moz-calc(100% - 110px);height:calc(100% - 110px);bottom:0;left:0;position:absolute;"></div>
<div id="player-curso" style="position:absolute;bottom:0;right:0;width:70%;height:-webkit-calc(100% - 110px);height:-moz-calc(100% - 110px);height:calc(100% - 110px);;background-color:rgba(120,150,30,1.0);"></div>
<script>
	$(function(){
			$("#selector-cursos").niceScroll({cursoropacitymax: 0, cursorwidth: "0px"});
	});
</script>
