<form action=<%= new_video_path %> method="get" onsubmit="validar()">

	<input type="text" id="id_vid" name="id_vid"><br>
	<input type="text" id="num_part" name="num_part"><br>
	<input type="submit" value="Siguiente">

</form>
