<form action=<%= new_video_path %> method="get" onsubmit="validar()">

	<label for="id_vid">Id de video en YouTube</label><br>
	<input type="text" id="id_vid" name="id_vid"><br>
	<label for="num_part">Cantidad de participantes</label><br>
	<input type="text" id="num_part" name="num_part"><br>
	<input type="submit" value="Siguiente">

</form>
