/* Estilos para la sección de Producción Digital */

/* Clases */
/* Opciones para cambiar de sitio */
.slides-op{
	position: absolute;
	cursor: pointer;
	display: inline-block;
	font-size: 25px;
	color: #FFF;
	opacity: 0.8;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.slides-op:hover{
	font-size: 28px;
	opacity: 1;
}

/* Identificadores */
/* Envolvente del cuerpo de página */
#wrapper-pd{
	position: absolute;
	top: 0;
	left: 0;
	overflow-x: hidden;
	height: 150%;
	width: 100%;
}

/* Envolvente de la sección de encabezado */
#wrapper-header-pd{
	position: relative;
}

/* Contenedor de encabezado (título, imagen y descripción) */
#wrapper-main-pd{
	width: -webkit-calc(100% - 210px);
	width: -moz-calc(100% - 210px);
	width: calc(100% - 210px);
	height: -webkit-calc(100% - 190px);
	height: -moz-calc(100% - 190px);
	height: calc(100% - 190px);
	-webkit-transform: translate(0,115px);
	-moz-transform: translate(0,115px);
	-ms-transform: translate(0,115px);
	-o-transform: translate(0,115px);
	transform: translate(0,115px);
	margin: 0 auto;
	position: relative;
}

/* Encabezado (Nombre de la sección) */
#header-pd{
	font-size: 35px;
	color: #FFF;
	text-align: right;
}

/* Contenedor de imagen y descripcion */
#img-desc-pd{
	height: 100%;
	width: 100%;
	position: relative;
}

/* Envolvente de la imagen del encabezado */
#img-section-pd{
	float: left;
	width: 50%;
	position: relative;
	height: 100%;
}

/* Imagen del encabezado */
#img-pd{
	background: url(image-path('Paisaje.png')) no-repeat center center / 100% 100%;
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

/* Envolvente del texto descriptor */
#text-section-pd{
	float: left;
	height: 100%;
	width: 50%;
}

@media only screen and (max-width:992px){
	#img-section-pd{
		float: none;
		margin: 0 auto;
		width: 100%;
		/*height: 70%;*/
	}

	#text-section-pd{
		float: none;
		margin: 0 auto;
		width: 100%;
		/*height: 30%;*/
	}

	#img-pd{
		width: 50%;
	}
}
