<!DOCTYPE html>
<html>
<head>
  <title>Videos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<script src="/js/jquery.nicescroll.min.js"></script>
</head>
<body>

<%= yield %>

	<script>
		$(function(){
			$("html").niceScroll({cursorcolor: "#CCCCCC", cursorwidth: "8px"});
			$("#produccion-digital").niceScroll({cursorcolor: "#CCCCCC", cursorwidth: "8px"});
			$("#tecnologia-educativa").niceScroll({cursorcolor: "#CCCCCC", cursorwidth: "8px"});
			$("#digital-design").niceScroll({cursorcolor: "#CCCCCC", cursorwidth: "8px"});
			$("#coordinacion").niceScroll({cursorcolor: "#CCCCCC", cursorwidth: "8px"});
		});
	</script>
</body>
</html>
